.custom-icon {
    position: relative;
    bottom: 0.2em;
    left: 0;
    height: auto;
    width: auto;
    max-height: 1.2em;
    max-width: 1.2em;
    padding: 0;
    padding-right: 0.3em;
    margin: 0;
}

.custom-icon-link {
    width: fit-content;
    padding: 0;
    margin: 0;
}

.custom-icon-list {
    padding: 0;
    margin: 0;
}